$font-size-xxs: 0.625rem;
$font-size-xm: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-mmd: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-sizes: (xxs: $font-size-xxs,
  xm: $font-size-xm,
  sm: $font-size-sm,
  md: $font-size-md,
  mmd: $font-size-mmd,
  lg: $font-size-lg,
  xl: $font-size-xl,
  xxl: $font-size-xxl,
)
