@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --font-family-regular: 'Open Sans';
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-regular);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
storybook-dynamic-app-root,
ng-component {
  width: 100%;
  display: block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
